@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-color: #fffdf2;
  --text-color: #242629;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #242629;
    --text-color: #fffdf2;
  }
}

@theme {
  --color-primary-bg: #fffdf2;
  --color-secondary-bg: #e9f1fa;
  --color-primary-text: #2b2c34;
  --color-secondary-text: #94a1b2;
  --color-button-bg: #1d63ff;
  --color-button-text: #fffffe;
  --color-error: #e45858;
  --color-border: oklch(0.27 0.0063 258.36 / 0.3);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
}

@layer theme {
  .dark {
    --color-primary-bg: #16161a;
    --color-secondary-bg: #242629;
    --color-primary-text: #fffdf2;
    --color-secondary-text: #94a1b2;
    --color-button-bg: #6d6dff;
    --color-border: oklch(0.99 0.0146 98.28 / 0.3);
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentcolor);
  }
}

body {
  background: theme(--color-primary-bg);
  color: theme(--color-primary-text);
  font-family: theme(--font-poppins);
}

h1,
h2,
h3 {
  font-family: theme(--font-montserrat);
}
